#editor {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 18px;
}

.chapter-section {
	position: relative;
	
	
	margin: 10px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #333333;
}

.right{ 
	float: right;
	height: calc(100vh - 20px);
	width: calc(50vw - 30px);
}

.left{ 
	float: left;
	height: calc(100vh - 40px);
	width: calc(50vw - 50px);
	padding: 10px;
	background-color: #404040;
	color: #8181CF;
	font-size: 18px;
}

#problem-display{
	background: #333333;
	margin: 20px;
}